<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>com.launchd.Wallpaper.Changer</string>
    <key>ProgramArguments</key>
    <array>
        <string>usr/bin/osascript</string>
        <string>/Users/Lukas/scripts/applescript/OS-X-Wallpaper-Changer-master/wallpaper.scpt</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
</dict>
</plist>
